@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable{
  cursor: pointer;
}

nav{
  margin-bottom: 1rem;
  font-size: larger;
}

.active{
  color: crimson;
}

.brand, .brand:hover{
  padding-top: 0.5rem;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: xx-large;
  color: black;
}

.vl {
  border-left: 0.2px solid #9ca3af;
  margin-left: 1rem;
  height: 70px;
}